@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  background-color: #fff;
  color: #3f434a;
  font-size: 15px;
  max-width: 1366px;
}
img {
  max-width: 100%;
}
/* header */
.header-img {
  width: 1366px;
  height: 938px;
}
